In [2]:
!pip install pandas numpy pdfplumber
from pathlib import Path
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os
import re

Requirement already satisfied: pandas in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pdfplumber in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (0.11.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pdfminer.six==20250506 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pdfplumber) (20250506)
Requirement already satisfied: Pillow>=9.1 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pdfplumber) (10.4.0)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pdfplumber) (4.30.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pdfminer.six==20250506->pdfplumber) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from pdfminer.six==20250506->pdfplumber) (43.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\evariste.manirumva\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
DIR_WORKSPACE = Path.cwd().parents[0]
DIR_DATA = DIR_WORKSPACE / "data"
DIR_REPORTS_CSV = DIR_DATA / "csv_files"
DIR_OUTPUT = DIR_DATA / "master_csv"

In [44]:
# Collect and combine all CSV files
master_csv = DIR_REPORTS_CSV.glob("*.csv")  # all CSVs in that directory
df_list = [pd.read_csv(f) for f in master_csv]

if df_list:  # make sure it's not empty
    master_df = pd.concat(df_list, ignore_index=True)
    master_df['counter_id'] = range(1, len(master_df['counter_id']) + 1)
    print("Combined shape:", master_df.shape)

    # Save merged csv/df into a single file
    output_file = DIR_OUTPUT / "master.csv"
    master_df.to_csv(output_file, index=False)
    print("Combined CSV saved at:", output_file)
else:
    print("No CSV files found in", DIR_REPORTS_CSV)

Combined shape: (26576, 19)
Combined CSV saved at: d:\Documents\AIMS_DSCBI_Training\mse-api-assignment\data\master_csv\master.csv

In [42]:
master_df.head(100)
master_df.shape
master_df.info()
master_df.describe()
master_df['counter'].value_counts()
master_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26576 entries, 0 to 26575
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   counter_id                  26576 non-null  int64
 1   daily_range_high            11173 non-null  float64
 2   daily_range_low             11173 non-null  float64
 3   counter                     26576 non-null  object
 4   buy_price                   24849 non-null  object
 5   sell_price                  25052 non-null  object
 6   previous_closing_price      26575 non-null  float64
 7   today_closing_price         24917 non-null  object
 8   volume_traded               24916 non-null  float64
 9   dividend_mk                 26391 non-null  object
 10  dividend_yield_pct          26392 non-null  float64
 11  earnings_yield_pct          26215 non-null  float64
 12  pe_ratio                    26215 non-null  float64
 13  pbv_ratio                   26562 non-null  object
 14  market_capitalization_mkmn  26575 non-null  object
 15  profit_after_tax_mkmn       26575 non-null  float64
 16  num_shares_issue            26546 non-null  float64
 17  trade_date                  26576 non-null  object
 18  print_time                  25326 non-null  object
dtypes: float64(9), int64(1), object(9)
memory usage: 3.9+ MB

(26576, 19)

In [4]:
master_stock_df = pd.read_csv(DIR_OUTPUT/ "master_demo.csv")
print(master_stock_df.head(100))
master_stock_df['counter'].unique()

   counter_id  daily_range_high  daily_range_low counter buy_price sell_price  \
0         1.0            138.97           137.94  AIRTEL       0.0     137.96
1         2.0             15.02            15.02     BHL     15.02        0.0
2         3.0            637.95           637.91    FDHB     635.0     637.92
3         4.0           1897.99          1897.99   FMBCH   1897.99        0.0
4         5.0             17.94            17.94    ICON       0.0      17.94
..        ...               ...              ...     ...       ...        ...
95       16.0             34.90            34.90     TNM       0.0       34.9
96        1.0            138.81           137.97  AIRTEL       0.0     137.98
97        2.0               NaN              NaN     BHL     15.01        0.0
98        3.0            600.00           599.97    FDHB       0.0      600.0
99        4.0           1897.97          1750.00   FMBCH   1750.01    1897.97

    previous_closing_price today_closing_price  volume_traded dividend_mk  \
0                   138.54              137.98        79004.0         2.0
1                    15.02               15.02         7042.0         0.0
2                   637.95              637.93       101411.0        4.73
3                  1897.99             1897.99        15133.0        3.64
4                    17.94               17.94        18168.0        0.29
..                     ...                 ...            ...         ...
95                   35.52                34.9        11676.0         0.0
96                  138.82              138.01        44622.0         2.0
97                   15.01               15.01            0.0         0.0
98                  607.34              599.99       214734.0        4.73
99                 1677.07             1758.41        54253.0        3.64

    dividend_yield_pct  earnings_yield_pct  pe_ratio pbv_ratio  \
0                 1.45                2.81     35.53     47.26
1                 0.00               -1.55    -64.44      1.36
2                 0.74                1.68     59.44      45.2
3                 0.19                2.53     39.45     14.18
4                 1.62               20.38      4.91      0.82
..                 ...                 ...       ...       ...
95                0.00                2.50     40.04      7.77
96                1.45                2.81     35.53     47.27
97                0.00               -1.55    -64.40      1.36
98                0.79                1.79     55.91     42.51
99                0.21                2.74     36.55     13.14

   market_capitalization_mkmn  profit_after_tax_mkmn  num_shares_issue  \
0                   1517780.0               42722.11      1.100000e+10
1                    88291.39               -1370.11      5.878255e+09
2                  4402374.87               74063.00      6.901031e+09
3                  4665733.92              118254.74      2.458250e+09
4                    119839.2               24424.49      6.680000e+09
..                        ...                    ...               ...
95                  402787.89               10060.00      1.154120e+10
96                  1518110.0               42722.11      1.100000e+10
97                   88232.61               -1370.11      5.878255e+09
98                 4140549.74               74063.00      6.901031e+09
99                 4322611.38              118254.74      2.458250e+09

    trade_date print_time
0   2025-09-19   14:37:47
1   2025-09-19   14:37:47
2   2025-09-19   14:37:47
3   2025-09-19   14:37:47
4   2025-09-19   14:37:47
..         ...        ...
95  2025-09-11   14:41:47
96  2025-09-10   14:45:30
97  2025-09-10   14:45:30
98  2025-09-10   14:45:30
99  2025-09-10   14:45:30

[100 rows x 19 columns]

array(['AIRTEL', 'BHL', 'FDHB', 'FMBCH', 'ICON', 'ILLOVO', 'MPICO', 'NBM',
       'NBS', 'NICO', 'NITL', 'OMU', 'PCL', 'STANDARD', 'SUNBIRD', 'TNM',
       'OML', 'MPICO CD', 'NBM CD', 'NICO CD', 'PCL CD', 'Standard CD',
       'Sunbird CD', 'TNM CD', 'MPICO TS', 'BHL CD', 'BHL XD', 'NITL XD',
       'NITL CD', 'NBS TS', 'NICO TS', 'Sunbird', 'PCL TS', 'Sunbird H',
       'SUNBIRD H', 'StandardCD', 'SUNBIRDCD', 'NITL TS', 'SUNBIRD TS',
       'TNM TS', 'NBM XD', 'StandardTS', 'TNM TS XD', 'TNM TS CD',
       'FMB CA', 'Sunbird XD', 'PCL XD', 'MPICO XD', 'NICO XD',
       'Standard XD', 'TNM XD', 'FMBTS CA XD', 'Sunbird TS',
       'FMBTS CA CD', 'SunbirdXD TS', 'SunbirdCD TS', 'NBS-LA*'],
      dtype=object)

In [70]:
master_stock_df.head()

,counter_id,daily_range_high,daily_range_low,counter,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time
0,1.0,138.97,137.94,AIRTEL,0.0,137.96,138.54,137.98,79004.0,2.0,1.45,2.81,35.53,47.26,1517780.0,42722.11,1.100000e+10,2025-09-19,14:37:47
1,2.0,15.02,15.02,BHL,15.02,0.0,15.02,15.02,7042.0,0.0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,2025-09-19,14:37:47
2,3.0,637.95,637.91,FDHB,635.0,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,2025-09-19,14:37:47
3,4.0,1897.99,1897.99,FMBCH,1897.99,0.0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,2025-09-19,14:37:47
4,5.0,17.94,17.94,ICON,0.0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,2025-09-19,14:37:47

In [ ]:
# Load the combined CSV file into a DataFrame
# mapping counter codes/tickers to full names mse web to remove ambiguity/company attributes
# master_stock_df = pd.read_csv(output_file)
master_stock_df = pd.read_csv(DIR_OUTPUT/ "master.csv")
print(master_stock_df.head())
#print(master_stock_df["counter"].unique())

# companies full names from mse website
counter_full_names = {
    "AIRTEL": "AIRTEL MALAWI PLC",
    "BHL": "BLANTYRE HOTELS PLC",
    "FDHB": "FDH BANK PLC",
    "FMBCH": "FMB CAPITAL HOLDINGS PLC",
    "ICON": "ICON PROPERTIES PLC",
    "ILLOVO": "ILLOVO SUGAR MALAWI PLC",
    "MPICO": "MPICO PLC",
    "NBM": "NATIONAL BANK OF MALAWI",
    "NBS": "NBS BANK PLC",
    "NICO": "NICO HOLDINGS PLC",
    "NITL": "NATIONAL INVESTMENT TRUST PLC",
    "OMU": "OLD MUTUAL LIMITED",
    "PCL": "PRESS CORPORATION PLC",
    "STANDARD": "STANDARD BANK MALAWI PLC",
    "SUNBIRD": "SUNBIRD TOURISM PLC",
    "TNM": "TELEKOM NETWORKS MALAWI PLC"
}
# dictionary to map tickers to full company names considering ones with suffixes
counter_full_names = {'AIRTEL':'Airtel Malawi plc', 
       'BHL':'Blantyre Hotels Plc', 
       'FDHB':'FDH Bank plc', 
       'FMBCH':'FMB Capital Holdings plc', 
       'ICON':'ICON Properties plc',
       'ILLOVO':'Illovo Sugar Malawi plc', 
       'MPICO':'Malawi Property Investment Company plc',
       'NBM':'National Bank of Malawi',
       'NBS':'NBS Bank plc', 
       'NICO':'NICO Holdings plc',
       'NITL':'National Investment Trust Plc',
       'OMU':'Old Mutual Limited', 
       'PCL':'Press Corporation plc', 
       'STANDARD':'Standard Bank Malawi plc',
       'SUNBIRD':'Sunbird Tourism plc',
       'TNM':'Telekom Networks Malawi plc',
       'OML':'Old Mutual Limited', 
       'MPICO CD':'Malawi Property Investment Company plc',
       'NBM CD':'National Bank of Malawi', 
       'NICO CD':'NICO Holdings plc', 
       'PCL CD':'Press Corporation plc',
       'Standard CD':'Standard Bank Malawi plc',
       'Sunbird CD':'Sunbird Tourism plc',
       'TNM CD':'Telekom Networks Malawi plc', 
       'MPICO TS':'Malawi Property Investment Company plc', 
       'BHL CD':'Blantyre Hotels Plc',
       'BHL XD':'Blantyre Hotels Plc', 
       'NITL XD':'National Investment Trust Plc',
       'NITL CD':'National Investment Trust Plc',
       'NBS TS':'NBS Bank plc', 
       'NICO TS':'NICO Holdings plc', 
       'Sunbird':'Sunbird Tourism plc',
       'PCL TS':'Press Corporation plc',
       'Sunbird H':'Sunbird Tourism plc',
       'SUNBIRD H':'Sunbird Tourism plc',
       'StandardCD':'Standard Bank Malawi plc', 
       'SUNBIRDCD':'Sunbird Tourism plc', 
       'NITL TS':'National Investment Trust Plc',
       'SUNBIRD TS':'Sunbird Tourism plc',
       'TNM TS':'Telekom Networks Malawi plc',
       'NBM XD':'National Bank of Malawi',
       'StandardTS':'Standard Bank Malawi plc',
       'TNM TS XD':'Telekom Networks Malawi plc', 
       'TNM TS CD':'Telekom Networks Malawi plc',
       'FMB CA':'FMB Capital Holdings plc', 
       'Sunbird XD':'Sunbird Tourism plc',
       'PCL XD':'Press Corporation plc',
       'MPICO XD':'Malawi Property Investment Company plc',
       'NICO XD':'NICO Holdings plc',
       'Standard XD':'Standard Bank Malawi plc',
       'TNM XD':'Telekom Networks Malawi plc',
       'FMBTS CA XD':'FMB Capital Holdings plc', 
       'Sunbird TS':'Sunbird Tourism plc',
       'FMBTS CA CD':'FMB Capital Holdings plc', 
       'SunbirdXD TS':'Sunbird Tourism plc',
       'SunbirdCD TS':'Sunbird Tourism plc',
       'NBS-LA*':'NBS Bank plc'}

  counter_id  daily_range_high  daily_range_low counter buy_price sell_price  \
0        1.0            138.97           137.94  AIRTEL       0.0     137.96
1        2.0             15.02            15.02     BHL     15.02        0.0
2        3.0            637.95           637.91    FDHB     635.0     637.92
3        4.0           1897.99          1897.99   FMBCH   1897.99        0.0
4        5.0             17.94            17.94    ICON       0.0      17.94

   previous_closing_price today_closing_price  volume_traded dividend_mk  \
0                  138.54              137.98        79004.0         2.0
1                   15.02               15.02         7042.0         0.0
2                  637.95              637.93       101411.0        4.73
3                 1897.99             1897.99        15133.0        3.64
4                   17.94               17.94        18168.0        0.29

   dividend_yield_pct  earnings_yield_pct  pe_ratio pbv_ratio  \
0                1.45                2.81     35.53     47.26
1                0.00               -1.55    -64.44      1.36
2                0.74                1.68     59.44      45.2
3                0.19                2.53     39.45     14.18
4                1.62               20.38      4.91      0.82

  market_capitalization_mkmn  profit_after_tax_mkmn  num_shares_issue  \
0                  1517780.0               42722.11      1.100000e+10
1                   88291.39               -1370.11      5.878255e+09
2                 4402374.87               74063.00      6.901031e+09
3                 4665733.92              118254.74      2.458250e+09
4                   119839.2               24424.49      6.680000e+09

   trade_date print_time
0  2025-09-19   14:37:47
1  2025-09-19   14:37:47
2  2025-09-19   14:37:47
3  2025-09-19   14:37:47
4  2025-09-19   14:37:47

In [8]:
# map full names by counters into name  and rename some columns
#master_stock_df["name"] = master_stock_df["counter"].map(counter_full_names)
master_stock_df = master_stock_df.rename(columns={
    "counter": "ticker",
    "trade_date": "date_listed",
    "buy_price": "listing_price"
})

In [119]:
print(counter_full_names)
len(counter_full_names)
master_stock_df.head()

{'AIRTEL': 'Airtel Malawi plc', 'BHL': 'Blantyre Hotels Plc', 'FDHB': 'FDH Bank plc', 'FMBCH': 'FMB Capital Holdings plc', 'ICON': 'ICON Properties plc', 'ILLOVO': 'Illovo Sugar Malawi plc', 'MPICO': 'Malawi Property Investment Company plc', 'NBM': 'National Bank of Malawi', 'NBS': 'NBS Bank plc', 'NICO': 'NICO Holdings plc', 'NITL': 'National Investment Trust Plc', 'OMU': 'Old Mutual Limited', 'PCL': 'Press Corporation plc', 'STANDARD': 'Standard Bank Malawi plc', 'SUNBIRD': 'Sunbird Tourism plc', 'TNM': 'Telekom Networks Malawi plc', 'OML': 'Old Mutual Limited', 'MPICO CD': 'Malawi Property Investment Company plc', 'NBM CD': 'National Bank of Malawi', 'NICO CD': 'NICO Holdings plc', 'PCL CD': 'Press Corporation plc', 'Standard CD': 'Standard Bank Malawi plc', 'Sunbird CD': 'Sunbird Tourism plc', 'TNM CD': 'Telekom Networks Malawi plc', 'MPICO TS': 'Malawi Property Investment Company plc', 'BHL CD': 'Blantyre Hotels Plc', 'BHL XD': 'Blantyre Hotels Plc', 'NITL XD': 'National Investment Trust Plc', 'NITL CD': 'National Investment Trust Plc', 'NBS TS': 'NBS Bank plc', 'NICO TS': 'NICO Holdings plc', 'Sunbird': 'Sunbird Tourism plc', 'PCL TS': 'Press Corporation plc', 'Sunbird H': 'Sunbird Tourism plc', 'SUNBIRD H': 'Sunbird Tourism plc', 'StandardCD': 'Standard Bank Malawi plc', 'SUNBIRDCD': 'Sunbird Tourism plc', 'NITL TS': 'National Investment Trust Plc', 'SUNBIRD TS': 'Sunbird Tourism plc', 'TNM TS': 'Telekom Networks Malawi plc', 'NBM XD': 'National Bank of Malawi', 'StandardTS': 'Standard Bank Malawi plc', 'TNM TS XD': 'Telekom Networks Malawi plc', 'TNM TS CD': 'Telekom Networks Malawi plc', 'FMB CA': 'FMB Capital Holdings plc', 'Sunbird XD': 'Sunbird Tourism plc', 'PCL XD': 'Press Corporation plc', 'MPICO XD': 'Malawi Property Investment Company plc', 'NICO XD': 'NICO Holdings plc', 'Standard XD': 'Standard Bank Malawi plc', 'TNM XD': 'Telekom Networks Malawi plc', 'FMBTS CA XD': 'FMB Capital Holdings plc', 'Sunbird TS': 'Sunbird Tourism plc', 'FMBTS CA CD': 'FMB Capital Holdings plc', 'SunbirdXD TS': 'Sunbird Tourism plc', 'SunbirdCD TS': 'Sunbird Tourism plc', 'NBS-LA*': 'NBS Bank plc'}

,counter_id,daily_range_high,daily_range_low,ticker,listing_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,date_listed,print_time
0,1.0,138.97,137.94,AIRTEL,0.0,137.96,138.54,137.98,79004.0,2.0,1.45,2.81,35.53,47.26,1517780.0,42722.11,1.100000e+10,2025-09-19,14:37:47
1,2.0,15.02,15.02,BHL,15.02,0.0,15.02,15.02,7042.0,0.0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,2025-09-19,14:37:47
2,3.0,637.95,637.91,FDHB,635.0,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,2025-09-19,14:37:47
3,4.0,1897.99,1897.99,FMBCH,1897.99,0.0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,2025-09-19,14:37:47
4,5.0,17.94,17.94,ICON,0.0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,2025-09-19,14:37:47

In [6]:
# Create uppercase versions for tickers and values
counter_full_names_upper = {k.upper(): v for k, v in counter_full_names.items()}
print(counter_full_names_upper)
counter_full_names_upper_all = {k.upper(): v.upper() for k, v in counter_full_names.items()}
counter_full_names_upper_all

{'AIRTEL': 'Airtel Malawi plc', 'BHL': 'Blantyre Hotels Plc', 'FDHB': 'FDH Bank plc', 'FMBCH': 'FMB Capital Holdings plc', 'ICON': 'ICON Properties plc', 'ILLOVO': 'Illovo Sugar Malawi plc', 'MPICO': 'Malawi Property Investment Company plc', 'NBM': 'National Bank of Malawi', 'NBS': 'NBS Bank plc', 'NICO': 'NICO Holdings plc', 'NITL': 'National Investment Trust Plc', 'OMU': 'Old Mutual Limited', 'PCL': 'Press Corporation plc', 'STANDARD': 'Standard Bank Malawi plc', 'SUNBIRD': 'Sunbird Tourism plc', 'TNM': 'Telekom Networks Malawi plc', 'OML': 'Old Mutual Limited', 'MPICO CD': 'Malawi Property Investment Company plc', 'NBM CD': 'National Bank of Malawi', 'NICO CD': 'NICO Holdings plc', 'PCL CD': 'Press Corporation plc', 'STANDARD CD': 'Standard Bank Malawi plc', 'SUNBIRD CD': 'Sunbird Tourism plc', 'TNM CD': 'Telekom Networks Malawi plc', 'MPICO TS': 'Malawi Property Investment Company plc', 'BHL CD': 'Blantyre Hotels Plc', 'BHL XD': 'Blantyre Hotels Plc', 'NITL XD': 'National Investment Trust Plc', 'NITL CD': 'National Investment Trust Plc', 'NBS TS': 'NBS Bank plc', 'NICO TS': 'NICO Holdings plc', 'PCL TS': 'Press Corporation plc', 'SUNBIRD H': 'Sunbird Tourism plc', 'STANDARDCD': 'Standard Bank Malawi plc', 'SUNBIRDCD': 'Sunbird Tourism plc', 'NITL TS': 'National Investment Trust Plc', 'SUNBIRD TS': 'Sunbird Tourism plc', 'TNM TS': 'Telekom Networks Malawi plc', 'NBM XD': 'National Bank of Malawi', 'STANDARDTS': 'Standard Bank Malawi plc', 'TNM TS XD': 'Telekom Networks Malawi plc', 'TNM TS CD': 'Telekom Networks Malawi plc', 'FMB CA': 'FMB Capital Holdings plc', 'SUNBIRD XD': 'Sunbird Tourism plc', 'PCL XD': 'Press Corporation plc', 'MPICO XD': 'Malawi Property Investment Company plc', 'NICO XD': 'NICO Holdings plc', 'STANDARD XD': 'Standard Bank Malawi plc', 'TNM XD': 'Telekom Networks Malawi plc', 'FMBTS CA XD': 'FMB Capital Holdings plc', 'FMBTS CA CD': 'FMB Capital Holdings plc', 'SUNBIRDXD TS': 'Sunbird Tourism plc', 'SUNBIRDCD TS': 'Sunbird Tourism plc', 'NBS-LA*': 'NBS Bank plc'}

{'AIRTEL': 'AIRTEL MALAWI PLC',
 'BHL': 'BLANTYRE HOTELS PLC',
 'FDHB': 'FDH BANK PLC',
 'FMBCH': 'FMB CAPITAL HOLDINGS PLC',
 'ICON': 'ICON PROPERTIES PLC',
 'ILLOVO': 'ILLOVO SUGAR MALAWI PLC',
 'MPICO': 'MALAWI PROPERTY INVESTMENT COMPANY PLC',
 'NBM': 'NATIONAL BANK OF MALAWI',
 'NBS': 'NBS BANK PLC',
 'NICO': 'NICO HOLDINGS PLC',
 'NITL': 'NATIONAL INVESTMENT TRUST PLC',
 'OMU': 'OLD MUTUAL LIMITED',
 'PCL': 'PRESS CORPORATION PLC',
 'STANDARD': 'STANDARD BANK MALAWI PLC',
 'SUNBIRD': 'SUNBIRD TOURISM PLC',
 'TNM': 'TELEKOM NETWORKS MALAWI PLC',
 'OML': 'OLD MUTUAL LIMITED',
 'MPICO CD': 'MALAWI PROPERTY INVESTMENT COMPANY PLC',
 'NBM CD': 'NATIONAL BANK OF MALAWI',
 'NICO CD': 'NICO HOLDINGS PLC',
 'PCL CD': 'PRESS CORPORATION PLC',
 'STANDARD CD': 'STANDARD BANK MALAWI PLC',
 'SUNBIRD CD': 'SUNBIRD TOURISM PLC',
 'TNM CD': 'TELEKOM NETWORKS MALAWI PLC',
 'MPICO TS': 'MALAWI PROPERTY INVESTMENT COMPANY PLC',
 'BHL CD': 'BLANTYRE HOTELS PLC',
 'BHL XD': 'BLANTYRE HOTELS PLC',
 'NITL XD': 'NATIONAL INVESTMENT TRUST PLC',
 'NITL CD': 'NATIONAL INVESTMENT TRUST PLC',
 'NBS TS': 'NBS BANK PLC',
 'NICO TS': 'NICO HOLDINGS PLC',
 'PCL TS': 'PRESS CORPORATION PLC',
 'SUNBIRD H': 'SUNBIRD TOURISM PLC',
 'STANDARDCD': 'STANDARD BANK MALAWI PLC',
 'SUNBIRDCD': 'SUNBIRD TOURISM PLC',
 'NITL TS': 'NATIONAL INVESTMENT TRUST PLC',
 'SUNBIRD TS': 'SUNBIRD TOURISM PLC',
 'TNM TS': 'TELEKOM NETWORKS MALAWI PLC',
 'NBM XD': 'NATIONAL BANK OF MALAWI',
 'STANDARDTS': 'STANDARD BANK MALAWI PLC',
 'TNM TS XD': 'TELEKOM NETWORKS MALAWI PLC',
 'TNM TS CD': 'TELEKOM NETWORKS MALAWI PLC',
 'FMB CA': 'FMB CAPITAL HOLDINGS PLC',
 'SUNBIRD XD': 'SUNBIRD TOURISM PLC',
 'PCL XD': 'PRESS CORPORATION PLC',
 'MPICO XD': 'MALAWI PROPERTY INVESTMENT COMPANY PLC',
 'NICO XD': 'NICO HOLDINGS PLC',
 'STANDARD XD': 'STANDARD BANK MALAWI PLC',
 'TNM XD': 'TELEKOM NETWORKS MALAWI PLC',
 'FMBTS CA XD': 'FMB CAPITAL HOLDINGS PLC',
 'FMBTS CA CD': 'FMB CAPITAL HOLDINGS PLC',
 'SUNBIRDXD TS': 'SUNBIRD TOURISM PLC',
 'SUNBIRDCD TS': 'SUNBIRD TOURISM PLC',
 'NBS-LA*': 'NBS BANK PLC'}

In [33]:
# map upper case full company names to tickers
master_stock_df["name"] = master_stock_df["ticker"].map(counter_full_names_upper_all).fillna("UNKNOWN COMPANY")
master_stock_df.head()
# save master stock df to csv
master_stock_df.to_csv(DIR_OUTPUT / "daily_prices.csv", index=False)

In [11]:
from dotenv import load_dotenv
import os

load_dotenv()

PGHOST = os.getenv("PGHOST", "").strip()
PGPORT = os.getenv("PGPORT", "").strip()
PGPORT = int(''.join(filter(str.isdigit, PGPORT))) if PGPORT else 5432
PGDATABASE = os.getenv("PGDATABASE", "").strip()
PGUSER = os.getenv("PGUSER", "").strip()

# Optional: print to confirm
print(PGHOST, PGPORT, PGDATABASE, PGUSER)

localhost 5432 mse_database postgres

# sql tools for create and link database and tables
D:\Documents\AIMS_DSCBI_Training\mse-api-assignment>psql -U postgres
CREATE DATABASE mse_database; # Create a database
postgres=# \c mse_database # connect to database or postgres=# \connect mse_database
mse_database=# \dt # check content(tables) of the db
## Create tables under database (mse_database)
CREATE TABLE IF NOT EXISTS counters (
    counter_id TEXT PRIMARY KEY,
    ticker TEXT NOT NULL,
    name TEXT NOT NULL,
    date_listed DATE,
    listing_price NUMERIC(10,2)
);

CREATE TABLE IF NOT EXISTS prices_daily (
    counter_id TEXT REFERENCES counters(counter_id),
    trade_date DATE,
    open_mwk NUMERIC(10,2),
    high_mwk NUMERIC(10,2),
    low_mwk NUMERIC(10,2),
    close_mwk NUMERIC(10,2),
    volume BIGINT,
    PRIMARY KEY (counter_id, trade_date)
);
# populate the tables(counters) of database 
INSERT INTO counters (counter_id, ticker, name, date_listed, listing_price)
OVERRIDING SYSTEM VALUE
VALUES
  (1,  'AIRTEL',   'Airtel Malawi plc',                          '2020-02-24', 12.69),
  (2,  'BHL',      'Blantyre Hotels plc',                        '1997-03-25',  0.84),
  (3,  'FDHB',     'FDH Bank plc',                               '2020-08-03', 10.00),
  (4,  'FMBCH',    'FMB Capital Holdings plc',                   '2017-09-18', 45.01),
  (5,  'ICON',     'Icon Properties plc',                        '2019-01-21',  8.75),
  (6,  'ILLOVO',   'Illovo Sugar Malawi plc',                    '1997-11-10',  2.25),
  (7,  'MPICO',    'Malawi Property Investment Company plc',     '2007-08-28',  1.00),
  (8,  'NBM',      'National Bank of Malawi plc',                '2000-08-21',  4.00),
  (9,  'NBS',      'NBS Bank plc',                               '2007-06-25',  2.60),
  (10, 'NICO',     'NICO Holdings plc',                          '1996-11-11',  2.00),
  (11, 'NITL',     'National Investment Trust plc',              '2005-03-21',  2.65),
  (12, 'OMU',      'Old Mutual Limited',                         '2018-06-26', 1580.22),
  (13, 'PCL',      'Press Corporation plc',                      '1998-09-09', 14.89),
  (14, 'STANDARD', 'Standard Bank Malawi plc',                   '1998-06-29',  3.25),
  (15, 'SUNBIRD',  'Sunbird Tourism plc',                        '2002-08-21',  2.60),
  (16, 'TNM',      'Telekom Networks Malawi plc',                '2008-11-25',  5.00);
## check content of counter table
  mse_database=# \d counters
## drop tables from database
mse_database=# DROP TABLE counter CASCADE; # drop all relations/references
mse_database=# DROP TABLE counter;
  
## To browse the data from table counters
mse_database=# SELECT * FROM counters;
mse_database-# limit(10);
mse_database-# SELECT counter_id, trade_date FROM counters;
mse_database=# \d+ prices_daily #check general information of table

## Update existing counter_id values in counters table
UPDATE counters SET counter_id = 'MWAIRT001156' WHERE ticker = 'AIRTEL';
UPDATE counters SET counter_id = 'MWBHL0010029' WHERE ticker = 'BHL';
UPDATE counters SET counter_id = 'MWFDHB001166' WHERE ticker = 'FDH';
UPDATE counters SET counter_id = 'MWFMB0010138' WHERE ticker = 'FMB';
UPDATE counters SET counter_id = 'MWICON001146' WHERE ticker = 'ICON';
UPDATE counters SET counter_id = 'MWILLV010032' WHERE ticker = 'ILLVO';
UPDATE counters SET counter_id = 'MWMPI0010116' WHERE ticker = 'MPI';
UPDATE counters SET counter_id = 'MWNBM0010074' WHERE ticker = 'NBM';
UPDATE counters SET counter_id = 'MWNBS0010105' WHERE ticker = 'NBS';
UPDATE counters SET counter_id = 'MWNICO010014' WHERE ticker = 'NICO';
UPDATE counters SET counter_id = 'MWNITL010091' WHERE ticker = 'NITL';
UPDATE counters SET counter_id = 'ZAE000255360' WHERE ticker = 'OMU';
UPDATE counters SET counter_id = 'MWPCL0010053' WHERE ticker = 'PCL';
UPDATE counters SET counter_id = 'MWSTD0010041' WHERE ticker = 'STANDARD';
UPDATE counters SET counter_id = 'MWSTL0010085' WHERE ticker = 'SUNBIRD';
UPDATE counters SET counter_id = 'MWTNM0010126' WHERE ticker = 'TNM';


Step 1: Drop existing table (optional)
DROP TABLE IF EXISTS prices_daily;

CREATE TABLE IF NOT EXISTS prices_daily (
    counter_id BIGINT,
    counter TEXT,
    daily_range_high NUMERIC(15,2),
    daily_range_low NUMERIC(15,2),
    buy_price NUMERIC(15,2),
    sell_price NUMERIC(15,2),
    previous_closing_price NUMERIC(15,2),
    today_closing_price NUMERIC(15,2),
    volume_traded NUMERIC(15,2),
    dividend_mk NUMERIC(15,2),
    dividend_yield_pct NUMERIC(15,2),
    earnings_yield_pct NUMERIC(15,2),
    pe_ratio NUMERIC(15,2),
    pbv_ratio NUMERIC(15,2),
    market_capitalization_mkmn NUMERIC(20,2),
    profit_after_tax_mkmn NUMERIC(20,2),
    num_shares_issue NUMERIC(20,2),
    trade_date DATE,
    print_time TEXT,
    PRIMARY KEY (counter_id, trade_date)
);
## add variable column into table
ALTER TABLE prices_daily
ADD COLUMN sell_price NUMERIC(10,2);

# link whole csv file to sql database directly
COPY prices_daily FROM 'D:\\Documents\\AIMS_DSCBI_Training\\mse-api-assignment\\data\\combined_output_data\\combined_reports.csv' DELIMITER ',' CSV HEADER;

# link csv file to sql database (directly import specific variables)
\copy prices_daily(counter_id, counter, daily_range_high, daily_range_low, buy_price, sell_price, previous_closing_price, today_closing_price, volume_traded, dividend_mk, dividend_yield_pct, earnings_yield_pct, pe_ratio, pbv_ratio, market_capitalization_mkmn, profit_after_tax_mkmn, num_shares_issue, trade_date, print_time) FROM 'D:/Documents/AIMS_DSCBI_Training/mse-api-assignment/data combined_output_data/combined_reports.csv' CSV HEADER;


### change the decimal formats of figures
ALTER TABLE prices_daily
ALTER COLUMN column volume_traded TYPE NUMERIC(15,2);

In [16]:
import pandas as pd
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
from sqlalchemy import text

In [22]:

# # Read counters CSV from mse website 
mse_web_counters = pd.read_csv(DIR_DATA / "misc" / "mse_web_listing.csv")
df_site_data =  pd.read_csv(DIR_DATA/ "misc" / "mse_web.csv")
# # Convert to datetime type (from DD-MM-YY to YYYY-MM-DD)
mse_web_counters['date_listed'] = pd.to_datetime(mse_web_counters['date_listed'], errors='coerce')
mse_web_counters['date_listed'] = mse_web_counters['date_listed'].dt.strftime('%Y-%m-%d')

# Create PostgreSQL connection
## Create SQLAlchemy engine (no password needed for local connections)
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/mse_database")
# Write to SQL
mse_db_counters = mse_web_counters.to_sql("tickers", engine, if_exists="replace", index=False)
print("✅ Data successfully written to SQL table tickers")
print(mse_db_counters)

# Verify by querying the table
with engine.connect() as conn:
     result = conn.execute(text("SELECT * FROM tickers LIMIT 5;"))
     for row in result:
         print(row)
         print(result)

✅ Data successfully written to SQL table tickers
16
('MWAIRT001156', 'AIRTELL', 'AIRTEL MALAWI PLC', '2020-02-24', 12.69)
<sqlalchemy.engine.cursor.CursorResult object at 0x000001D89BAD1D30>
('MWBHL0010029', 'BHL', 'BLANTYRE HOTELS PLC', '1997-03-25', 0.84)
<sqlalchemy.engine.cursor.CursorResult object at 0x000001D89BAD1D30>
('MWFDHB001166', 'FDHB', 'FDH BANK PLC', '2020-08-03', 10.0)
<sqlalchemy.engine.cursor.CursorResult object at 0x000001D89BAD1D30>
('MWFMB0010138', 'FMBCH', 'FMB CAPITAL HOLDINGS PLC', '2017-09-18', 45.01)
<sqlalchemy.engine.cursor.CursorResult object at 0x000001D89BAD1D30>
('MWICON001146', 'ICON', 'ICON PROPERTIES PLC', '2019-01-21', 8.75)
<sqlalchemy.engine.cursor.CursorResult object at 0x000001D89BAD1D30>

C:\Users\evariste.manirumva\AppData\Local\Temp\ipykernel_36748\532866292.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mse_web_counters['date_listed'] = pd.to_datetime(mse_web_counters['date_listed'], errors='coerce')

In [24]:
print(mse_web_counters)
df_site_data

      counter_id    ticker                           name date_listed  \
0   MWAIRT001156   AIRTELL              AIRTEL MALAWI PLC  2020-02-24
1   MWBHL0010029       BHL            BLANTYRE HOTELS PLC  1997-03-25
2   MWFDHB001166      FDHB                   FDH BANK PLC  2020-08-03
3   MWFMB0010138     FMBCH       FMB CAPITAL HOLDINGS PLC  2017-09-18
4   MWICON001146      ICON            ICON PROPERTIES PLC  2019-01-21
5   MWILLV010032    ILLOVO        ILLOVO SUGAR MALAWI PLC  1997-11-10
6   MWMPI0010116     MPICO                      MPICO PLC  2007-11-12
7   MWNBM0010074       NBM        NATIONAL BANK OF MALAWI  2000-08-21
8   MWNBS0010105       NBS                   NBS BANK PLC  2007-06-25
9   MWNICO010014      NICO              NICO HOLDINGS PLC  1996-11-11
10  MWNITL010091      NITL  NATIONAL INVESTMENT TRUST PLC  2005-03-21
11  ZAE000255360       OMU             OLD MUTUAL LIMITED  2018-06-26
12  MWPCL0010053       PCL          PRESS CORPORATION PLC  2009-09-09
13  MWSTD0010041  STANDARD       STANDARD BANK MALAWI PLC  1998-06-29
14  MWSTL0010085   SUNBIRD            SUNBIRD TOURISM PLC  2002-08-21
15  MWTNM0010126       TNM    TELEKOM NETWORKS MALAWI PLC  2008-11-03

    listing_price
0           12.69
1            0.84
2           10.00
3           45.01
4            8.75
5            2.25
6            2.25
7            4.00
8            2.60
9            2.00
10           2.65
11        1580.22
12          14.89
13           3.25
14           2.60
15           2.00

,Company Name,Symbol,ISIN,Listing Price,Date Listed
0,AIRTEL MALAWI PLC,AIRTEL,MWAIRT001156,12.69,24-Feb-20
1,BLANTYRE HOTELS PLC,BHL,MWBHL0010029,0.84,25-Mar-97
2,FDH BANK PLC,FDHB,MWFDHB001166,10.00,3-Aug-20
3,FMB CAPITAL HOLDINGS PLC,FMBCH,MWFMB0010138,45.01,18-Sep-17
4,ICON PROPERTIES PLC,ICON,MWICON001146,8.75,21-Jan-19
5,ILLOVO SUGAR MALAWI PLC,ILLOVO,MWILLV010032,2.25,10-Nov-97
6,MALAWI PROPERTY INVESTMENT COMPANY PLC,MPICO,MWMPI0010116,2.25,12-Nov-07
7,NATIONAL BANK OF MALAWI,NBM,MWNBM0010074,4.00,21-Aug-00
8,NBS BANK PLC,NBS,MWNBS0010105,2.60,25-Jun-07
9,NICO HOLDINGS PLC,NICO,MWNICO010014,2.00,11-Nov-96
10,NATIONAL INVESTMENT TRUST PLC,NITL,MWNITL010091,2.65,21-Mar-05
11,OLD MUTUAL LIMITED,OMU,ZAE000255360,1580.22,26-Jun-18
12,PRESS CORPORATION PLC,PCL,MWPCL0010053,14.89,9-Sep-09
13,STANDARD BANK MALAWI PLC,STANDARD,MWSTD0010041,3.25,29-Jun-98
14,SUNBIRD TOURISM PLC,SUNBIRD,MWSTL0010085,2.60,21-Aug-02
15,TELEKOM NETWORKS MALAWI PLC,TNM,MWTNM0010126,2.00,3-Nov-08

In [27]:
# import/read table from sql database as dataframe
tickers_db = pd.read_sql("SELECT * FROM tickers", engine)
tickers_db.head()

     counter_id   ticker                      name date_listed  listing_price
0  MWAIRT001156  AIRTELL         AIRTEL MALAWI PLC  2020-02-24          12.69
1  MWBHL0010029      BHL       BLANTYRE HOTELS PLC  1997-03-25           0.84
2  MWFDHB001166     FDHB              FDH BANK PLC  2020-08-03          10.00
3  MWFMB0010138    FMBCH  FMB CAPITAL HOLDINGS PLC  2017-09-18          45.01
4  MWICON001146     ICON       ICON PROPERTIES PLC  2019-01-21           8.75

In [30]:
# Classify sectors based on company names
# add a new column 'Sector' in the database (tickers) based on the company name

Sector = []
for x in tickers_db["name"].values:
    name = x.upper()  # Convert to uppercase for case-insensitive matching
    if re.findall("BANK", name):
        Sector.append("Banking and Financial")
    elif re.findall("HOTELS", name):
        Sector.append("Tourism and Hospitality")
    elif re.findall("HOLDING", name):
        Sector.append("Capital & Stock Market")
    elif re.findall("AIRTEL", name):
        Sector.append("Telecommunication")
    elif re.findall("SUGAR", name):
        Sector.append("Manufacturing Industry")
    elif re.findall("NETWORKS", name):
        Sector.append("Telecommunication")
    elif re.findall("PRESS", name):
        Sector.append("Media")
    elif re.findall("MUTUAL", name):
        Sector.append("Insurance")
    elif re.findall("PROPERTIES", name):
        Sector.append("Real Estate")
    elif re.findall("TOURISM", name):
        Sector.append("Tourism")
    else:
        Sector.append("Not Classified")  # Default value if no match found

tickers_db["Sector"] = Sector
tickers_db

,counter_id,ticker,name,date_listed,listing_price,Sector
0,MWAIRT001156,AIRTELL,AIRTEL MALAWI PLC,2020-02-24,12.69,Telecommunication
1,MWBHL0010029,BHL,BLANTYRE HOTELS PLC,1997-03-25,0.84,Tourism and Hospitality
2,MWFDHB001166,FDHB,FDH BANK PLC,2020-08-03,10.00,Banking and Financial
3,MWFMB0010138,FMBCH,FMB CAPITAL HOLDINGS PLC,2017-09-18,45.01,Capital & Stock Market
4,MWICON001146,ICON,ICON PROPERTIES PLC,2019-01-21,8.75,Real Estate
5,MWILLV010032,ILLOVO,ILLOVO SUGAR MALAWI PLC,1997-11-10,2.25,Manufacturing Industry
6,MWMPI0010116,MPICO,MPICO PLC,2007-11-12,2.25,Not Classified
7,MWNBM0010074,NBM,NATIONAL BANK OF MALAWI,2000-08-21,4.00,Banking and Financial
8,MWNBS0010105,NBS,NBS BANK PLC,2007-06-25,2.60,Banking and Financial
9,MWNICO010014,NICO,NICO HOLDINGS PLC,1996-11-11,2.00,Capital & Stock Market
10,MWNITL010091,NITL,NATIONAL INVESTMENT TRUST PLC,2005-03-21,2.65,Not Classified
11,ZAE000255360,OMU,OLD MUTUAL LIMITED,2018-06-26,1580.22,Insurance
12,MWPCL0010053,PCL,PRESS CORPORATION PLC,2009-09-09,14.89,Media
13,MWSTD0010041,STANDARD,STANDARD BANK MALAWI PLC,1998-06-29,3.25,Banking and Financial
14,MWSTL0010085,SUNBIRD,SUNBIRD TOURISM PLC,2002-08-21,2.60,Tourism
15,MWTNM0010126,TNM,TELEKOM NETWORKS MALAWI PLC,2008-11-03,2.00,Telecommunication

In [31]:
with engine.connect() as conn:
    conn.execute(text("ALTER TABLE tickers ADD COLUMN IF NOT EXISTS sector TEXT;"))
    conn.commit()

with engine.begin() as conn:
    for _, row in tickers_db.iterrows():
        conn.execute(
            text("UPDATE tickers SET sector = :sector WHERE ticker = :ticker"),
            {"sector": row["Sector"], "ticker": row["ticker"]}
        )

In [62]:
# export the updated dataframe back to the sql table
tickers_db.to_sql("tickers", engine, if_exists="replace", index=False)
tickers_db['date_listed'] = pd.to_datetime(tickers_db['date_listed']).dt.date
tickers_db['listing_price'] = tickers_db ['listing_price'].astype(float)
tickers_db.head()

,counter_id,ticker,name,date_listed,listing_price,Sector
0,MWAIRT001156,AIRTELL,AIRTEL MALAWI PLC,2020-02-24,12.69,Telecommunication
1,MWBHL0010029,BHL,BLANTYRE HOTELS PLC,1997-03-25,0.84,Tourism and Hospitality
2,MWFDHB001166,FDHB,FDH BANK PLC,2020-08-03,10.00,Banking and Financial
3,MWFMB0010138,FMBCH,FMB CAPITAL HOLDINGS PLC,2017-09-18,45.01,Capital & Stock Market
4,MWICON001146,ICON,ICON PROPERTIES PLC,2019-01-21,8.75,Real Estate

In [90]:
# mse database/daily prices table
# Load daily prices CSV into a DataFrame

daily_prices =  pd.read_csv(DIR_OUTPUT/ "daily_prices.csv")
daily_prices.head()

,counter_id,daily_range_high,daily_range_low,ticker,listing_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,date_listed,print_time,name
0,1,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,2,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,2,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,3,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,4,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,5,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [91]:
# mapping counter_id values from one dataframe (tickers_db) into another dataframe (daily_prices) using the company name as the key
daily_prices['counter_id'] = daily_prices['name'].map(
    tickers_db.set_index('name')['counter_id'])
daily_prices.head()

,counter_id,daily_range_high,daily_range_low,ticker,listing_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,date_listed,print_time,name
0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,2,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [92]:
# mapping listing_price values from one dataframe (tickers_db) into another dataframe (daily_prices) using the company name as the key
daily_prices['open_mwk'] = daily_prices['name'].map(
   tickers_db.set_index('name')['listing_price'])
daily_prices.head()

,counter_id,daily_range_high,daily_range_low,ticker,listing_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,...,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,date_listed,print_time,name,open_mwk
0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,2,...,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC,12.69
1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,0,...,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC,0.84
2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,4.73,...,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC,10.00
3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,3.64,...,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC,45.01
4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,0.29,...,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC,8.75

In [ ]:
# Sort and select relevant columns for daily prices table
daily_prices = daily_prices.rename(columns={
    'date_listed': 'trade_date',
    'daily_range_high': 'high_mwk',
    'daily_range_low': 'low_mwk',
    'today_closing_price': 'close_mwk',
    'volume_traded': 'volume'})
[['counter_id', 'trade_date', 'open_mwk', 'high_mwk', 'low_mwk', 'close_mwk', 'volume']]

daily_prices['volume'] = daily_prices['volume'].astype(float)
daily_prices ['trade_date'] = pd.to_datetime(daily_prices['trade_date'])
daily_prices['close_mwk'] = daily_prices['close_mwk'].astype(float)

daily_prices.head()

In [94]:
# Create/populate sql daily_prices table
# Read CSV 
headers_vars = [
    'counter_id', 'counter', 'daily_range_high', 'daily_range_low', 'buy_price',
    'sell_price', 'previous_closing_price', 'today_closing_price', 'volume_traded', 'dividend_mk',
    'dividend_yield_pct', 'earnings_yield_pct', 'pe_ratio', 'pbv_ratio',
    'market_capitalization_mkmn', 'profit_after_tax_mkmn', 'num_shares_issue',
    'trade_date', 'print_time']

#daily_prices  = daily_prices [headers_vars]

# Create PostgreSQL connection
## Create SQLAlchemy engine (no password needed for local connections)
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/mse_database")

# Write daily_prices table to SQL
mse_daily_prices = daily_prices.to_sql("daily_prices", engine, if_exists="replace", index=False)
print(mse_daily_prices)
print("✅ Data successfully written to SQL table 'daily_prices'")

810
✅ Data successfully written to SQL table 'daily_prices'

# Week 3: API Development
** Implement all 3-5 required API endpoints
** Add input validation using Pydantic models
** Add query parameters for filtering

### create and activate a virtual environment 
** python -m venv venv
** .\venv\Scripts\activate
## install required packages
** pip install -r requirements.txt
## run py.script
** (venv) D:\Documents\AIMS_DSCBI_Training\mse-api-assignment>python -m uvicorn api_access:app --reload

In [ ]:
# install required packages
import os
from typing import Optional, List
import pandas as pd
import psycopg2
from fastapi import FastAPI, Query, Path, HTTPException
from dotenv import load_dotenv
from pathlib import Path
import numpy as np
load_dotenv()
app = FastAPI()

In [ ]:
# ==========================================================
# RETURNING DATA FROM POSTGRESQL MSE_DATABASE
# =========================================================

# =============================================================
# Load environment variables from .env file
# =============================================================
load_dotenv()
# Get database connection details from environment variables
PGHOST = os.getenv("PGHOST", "").strip()
PGPORT = os.getenv("PGPORT", "").strip()
PGPORT = int(''.join(filter(str.isdigit, PGPORT))) if PGPORT else 5432
PGDATABASE = os.getenv("PGDATABASE", "").strip()
PGUSER = os.getenv("PGUSER", "").strip()

# =============================================================
# HELPER FUNCTION TO CONNECT QUERY to sql database
# =============================================================
def run_query(sql: str, params: tuple = ()):
    conn = psycopg2.connect(
        host=PGHOST,
        port=PGPORT,
        dbname=PGDATABASE,
        user=PGUSER,  
    )
    try:
        df = pd.read_sql(sql, conn, params=params)
        df = df.replace({np.nan: None, np.inf: None, -np.inf: None}) # convert NaN to none
    finally:
        conn.close()
    return df.to_dict(orient = "records")

# =============================================================
# set ENDPOINTS and use app (fastAPI) to create a link form endpoints and convert sql database and retrieve API data
# ===========================================================================================

@app.get("/")
def Home():
    return {"message":"WELCOME TO MALAWI STOCK EXCHANGE DATABASE"}

@app.get("/companies")
def companies():
    sql = "SELECT * FROM tickers"
    return run_query(sql)

# Get companies by sector
@app.get("/companies/{sector}")
def get_companies(sector: str):
    """These are all company related data including counter_id, counter, listing price and Listing date
    To retrieve the sector related info, plase do the following....
    Company/sector=?"""

  # Get all API from tickers database
    sql = 'SELECT * FROM tickers WHERE LOWER("Sector") = %s'
    return run_query(sql, (sector.lower(),))
    
@app.get("/companies/{counter}")
def get_company_prices(counter: str):
    sql = """
    SELECT
        t.counter,
        t.name,
        t."Sector",
        t."Date Listed",
        COUNT(d.counter_id) AS price_entries,
        d.counter_id AS price_counter_id
    FROM tickers AS t
    LEFT JOIN Daily_prices AS d 
        ON t.counter_id = d.counter_id
    WHERE LOWER(t.counter) = LOWER(%s)
    GROUP BY
        t.counter,
        t.name,
        t."Sector",
        t."Date Listed"
    LIMIT 50;
    """
    return run_query(sql, (counter,))

@app.get("/daily_prices/{counter}")
def get_counter(counter: str):
    sql = """
    SELECT
        t.counter_id
        t.counter,
        t."daily_range_high",
        t."daily_range_low",
        t."buy_price",
        t."sell_price",
        t."previous_closing_price",
        t."today_closing_price",
        t."volume_traded",
        COUNT(d.counter_id) AS price_entries,
        d.counter_id AS price_counter_id
    FROM daily_prices AS t
    LEFT JOIN Daily_prices AS d 
        ON t.counter_id = d.counter_id
    WHERE LOWER(t.counter) = LOWER(%s)
    GROUP BY
        t.counter_id,
        t.counter,
    LIMIT 50;
    """
    return run_query(sql, (counter,))